* {
    margin: 0;
    border: none;
    padding: 0;
    font-family: "WDXL Lubrifont TC", sans-serif;
}

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #8f0fff;
}

.form {
    background-color: white;
    height: 30rem;
    width: 25rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 40px;
    box-shadow: 20px 20px 0 rgba(0, 0, 0, 0.5);
    font-size: 20px;
    gap: 4px;
}

.error {
    color: red;
    font-size: calc(100% - 4px);
}

.category-input {
    border: solid 1px black;
    padding: 8px;
    font-size: 16px;
    margin: 0 0 0 5px;
    border-radius: 5px;
    width: 15rem;
}

.level-radio-button {
    display: none;
}

.levels {
    display: grid ;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 15px;
    /* width: 80%; */
}

.level-button {
    background-color: white;
    border: solid 1px black;
    border-radius: 5px;
    padding: 10px;
    margin: 10px 0 0 0;
    font-size: 20px;
    /* width: 10rem; */
    transition: 0.2s;
    box-shadow: 5px 5px 0 rgba(0, 0, 0, 0.5);
    text-align: center;
    cursor: pointer;

    &:hover {
        scale: 1.1;
        box-shadow: 5px 5px 0 rgba(0, 0, 0, 0.4);
    }
}

.checked {
    background-color: rgb(173, 255, 47);
}

.button {
    background-color: white;
    border: solid 1px black;
    border-radius: 5px;
    padding: 10px;
    margin: 10px 0 0 0;
    font-size: 20px;
    width: 10rem;
    transition: 0.2s;
    box-shadow: 5px 5px 0 rgba(0, 0, 0, 0.5);
    cursor: pointer;
    
    &:hover {
        background-color: black;
        box-shadow: 5px 5px 0 rgba(0, 0, 0, 0.4);
        color: white;
    }
}

@media only screen and (max-width: 400px) {
    .form {
        height: 23rem;
        width: 18rem;
        font-size: 16px;
    }
    .button {
        padding: 8px;
        font-size: 18px;
        width: 8rem;
    }
}

@media only screen and (min-width: 400px) and (max-width: 600px) {
    .form {
        height: 25rem;
        width: 20rem;
        font-size: 18px;
    }

    .button {
        padding: 8px;
        font-size: 18px;
        width: 8rem;
    }
}

@media only screen and (min-width: 768px) and (max-width: 992px) {
    .form {
        height: 35rem;
        width: 30rem;
        font-size: 24px;
    }

    .button {
        width: 12rem;
        font-size: 26px;
    }
}

@media only screen and (min-width: 992px) and (max-width: 1200px) and (min-height: 700px) {
    .form {
        height: 40rem;
        width: 35rem;
        font-size: 28px;
    }

    .button{
        width: 16rem;
        font-size: 30px;
        margin: 20px 0 0 0 ;
    }
}