<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signup</title>
</head>
<body>
    <form method="POST">
        {% csrf_token %}
        {{form.name}}
        <br>
        {% if form.name.errors %}
            <div style="color: red;">
                {{form.name.errors.0}}
            </div>
        {% endif %}
        {{form.password}}
        <br>
        Question for password reset
        <br>
        {{form.question}}
        <br>
        {{form.answer}}
        <br>
        <a href="{% url "signin" %}">Already a user ?</a> <br>
        <br>
        <button type="submit">Signup</button>
    </form>
</body>
</html>