{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=WDXL+Lubrifont+TC&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static "css/signup.css" %}">
    <link rel="stylesheet" href="{% static 'css/star.css' %}">
    <title>Signup</title>
</head>
<body>
    <div class="container">
        {% for i in "****************" %}
            <div class="star"></div>
        {% endfor %}
        <form method="POST" class="form">
            {% csrf_token %}
            <h1>  Create account</h1>
            <div class="input">
                <span>
                    Name : 
                </span>
                {{form.name}}
                {% if form.name.errors %}
                <div style="color: red;" class="error">
                    {{form.name.errors.0}}
                </div>
                {% endif %}
                
                <span>
                    Password : 
                </span>
                {{form.password}}
    
                <span>
                    Question : 
                </span>
                {{form.question}}
    
                <span>
                    Answer : 
                </span>
                {{form.answer}}
            </div>

            <span class="message">
                Question for password reset !
            </span>
            <a href="{% url "signin" %}">Already a user ?</a>
            <button type="submit" class="submit-button">Signup</button>
        </form>
    </div>
</body>
</html>