<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome Back</title>
</head>
<body>
    <form method="post">
        {% csrf_token %}
        {{form.name}}
        <br>
        {% if form.non_field_errors %}
            <div style="color: red;">
            {% for error in form.non_field_errors %}
                {{ error }}
            {% endfor %}
            </div>
        {% endif %}
        {{form.password}}
        <button type="submit">Login</button>
    </form>
</body>
</html>